{% extends 'store/base.html' %}

{% block content %}
<h3>Your Cart</h3>
<ul class="list-group mb-3">
    {% for item in cart_items %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <!-- Product Image -->
        <div class="d-flex align-items-center">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="height: 50px; width: 50px; object-fit: cover; margin-right: 10px;">
            <!-- Product Name -->
            <span>{{ item.product.name }}</span>
        </div>

        <span>₹{{ item.product.price }}</span>

        <span>Qty: {{ item.quantity }}</span>
    </li>
    {% endfor %}
</ul>
<h4>Total: ₹{{ total }}</h4>
<a href="{% url 'payment' %}" class="btn btn-warning">Proceed to Payment</a>
<a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>

{% endblock %}
